/*************** tag selectors *****************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;      /* px / 16 to get the percentage dynamic */
    color: #66BFBF;
    padding-bottom: 20px
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

a {
  color: #11999E;
  font-family:'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #95D1CC;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #B1D0E0;
  border-width: 6px;
  width: 5%;
  margin: 50px auto;
}

p {
  line-height: 2;
}

/*************** NAVIGATION *****************/
.menu {
  /* overflow: auto; */
  position: relative;
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  background-color: #EFFFFD;
  padding: 20px;
  margin: 0;
}

.navigaiton {
  list-style-type: none;
}

.navi-list {
  display: inline;
  font-size: 1.3rem;
}


.active {
  color: #041C32;
}

/******************** INTRO ********************/
.name {
  text-align: center;
  margin-right: auto;
}
.top-container {
  background-color: #EFFFFD;
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-message {
  margin: 40px auto 60px auto;
  width: 50%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.cloud1 {
  position: absolute;
  width: 6%;
  right: 490px;
  top: 120px
}

.cloud2 {
  position: absolute;
  width: 6%;
  left: 490px;
  top: 350px
}

.mountain {
  width: 8%;
}
/************** EDUCATION *****************/
.description {
  width: 60%;
  margin: auto;
}

.radlab {
  margin: 0;
  font-family: 'Merriweather', serif;
}
.radlab:hover {
  color: #95D1CC;
}

/**************** CONTACT *****************/
.contact-me {
  margin-bottom: 80px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copy {
  color: #EAF6F6;
  font-family:'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0
}

/********************** SKILLS ***************************/
.skills {
  background-color: white;
  position: relative;
  padding-top: 40px;
  margin-top: 50px;
  padding-bottom: 50px
}
.skill-row {
  width: 50%;
  margin: 20px auto 100px auto;
  text-align: left;
}

.research {
  width: 20%;
  float: left;
  margin-right: 30px
}

.programming {
  width: 20%;
  float: right;
  margin-left: 30px
}

.coding-languages {
  text-align: right;
}

.data-visualization {
  width: 20%;
  float: left;
  margin-right: 30px
}

.statistics {
  width: 20%;
  float: right;
  margin-left: 30px
}
.statistics-content {
  text-align: right;
}

/******************** PROJECTS *************************/

.projects {
  background-color: white;
  position: relative;
  padding-top: 40px;
  margin-top: 50px;
  padding-bottom: 50px
}

.project-row {
  width: 60%;
  margin: 20px auto 100px auto;
  text-align: left;
}

.project1 {
  width: 25%;
  float: left;
  margin-right: 30px
}

.project2 {
  float: right;
  margin-left: 30px
}

.web-mh {
  text-align: right;
}

.project3 {
  float: left;
  margin-right: 30px
}

.project4 {
  width: 15%;
  float: right;
  margin-left: 30px
}

.gamer {
  text-align: right;
}

.project5 {
  width: 20%;
  float: left;
  margin-right: 30px
}

.demo-link:hover {
  color: #95D1CC;
}

.presentation-link {
  margin: 0;
  font-family: 'Merriweather', serif;
}
.presentation-link:hover {
  color: #95D1CC;
}


/******************** PROJECTS *************************/
.learning {
  background-color: white;
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px
}

.course {
  line-height: 1.5;
}

.learning-intro {
  margin: 50px auto 10px auto;
  width: 50%;
}
.learning-row {
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: left;
}

.course-box {
    list-style: square;
}
